<app-formulario-insumos *ngIf="indexFormularioAdd"></app-formulario-insumos>
<div class="conteudo_main" *ngIf="indexMain">
    <menu>
        <button class="home btnsNav" (click)="retornarHome()">Home</button>
        <button class="add_cliente btnsNav" (click)="abrirForms()">Adicionar insumo</button>
        <button class="remover btnsNav">Remover</button>
    </menu>
    <div class="insumos_area">
      <ng-container *ngFor="let i of insumoCadastrado">
        <div class="card insumo">
          <div class="card-body">
            <h5 class="card-title">{{i.nome}}</h5>
            <p class="card-text">{{i.descricao}}s</p>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">{{i.marca}}</li>
            <li class="list-group-item">{{i.peso}}</li>
            <li class="list-group-item">R$ {{i.valor}}</li>
          </ul>
        </div>
      </ng-container>
    </div>
</div>