

.principal{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.conteudo_main{
    display: flex;
    margin: 10px 0;
    height: 75vh;
}

main{
    display: flex;
    margin: 0px auto;
}

.clientes{
    width: 83vw;
    height: 100%;
    overflow-y: scroll;
}

menu{
    height: 100%;
    width: 17vw;
}

menu button{
    cursor: pointer;
    width: 95%;
    height: 100px;
    background-color: transparent;
    font-size: large;
    font-weight: 600;
    transition-duration: 100ms;
    margin: 7px;
    border-radius: 8px;
}

menu button:hover{
    background-color:  rgb(255, 255, 34);
    border-right: none;
}

.busca{
    padding: 5px 5px;
    height: 40px;
    background-color: #fff;
    border-radius: 8px;
    width: 40%;
    margin: 20px auto;
}

.busca input{
    outline: none;
    width:80% ;
    padding: 5px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 20px;
}


.busca span{
    cursor: pointer;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
    border-radius: 100%;
}

.ficha{
    width: 90%;
    max-width: 900px;
    height: 150px; 
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    word-wrap: break-word;
}

.fichaAberta{
    height: auto;
    overflow: visible;
}
.visivel{
    display: flex;
}

.escondido{
    padding: 0px 10px;
    padding-top: 25px;
}

.descricao{
    height: auto;
    width: 100%; 
    border: 2px solid black;
    border-radius: 8px;
    font-size: larger;
    font-family: sans-serif;
}

.descricao > p {
    margin: 10px 5px;
}


.info{
    width: 50%;
    font-size: larger;
    font-family: sans-serif;
    padding: 10px;
}

.info_contact > p {
    margin: 10px 5px;
}

.info_bike > p {
    margin: 10px 5px;
}

p{
    font-size:15px;
}
.btn{
    height: 45px;
    display: flex;
    justify-content: space-around;
}
.btns{
    font-size: 25px;
    background-color: transparent;
}
@media only screen and (max-width: 720px){


    .busca{
        padding: 0px;
        margin: 0 auto;
        height: 30px;
    }
    menu{
        height: auto;
        display: flex;
        width: auto;
    }

    menu > button {
        font-size: 17px;

    }

    .principal{
        flex-direction: column;
    }

    .conteudo_main{
        flex-direction: column;
    }

    .clientes{
        width:100vw;
    }

    .info_contact > p{
        margin: 0px;
    }

    .info_bike > p{
        margin: 0px;
    }
    article{
        min-height: 150px;
    }

  
}