.nav_bar{
    width: 100vw;
    height: 12vh;
    background-color: transparent;
    text-align: center;
    font-size: 1.6em;
}

h1{
    padding: 27px;
}

@media only screen and (max-width: 720px){

.nav_bar{
    height: 10vh;
}


}