<form  (ngSubmit)="enviarDados()" class="box_addclient " [formGroup]="formAddclient">
    <div class="content">
        <label for="nomeI">Nome:</label>
        <input formControlName="nome" type="text" name="nomeI" id="nomeI" placeholder="Ex: Fulano Ciclano">
    </div>

    <div class="content">
        <label for="telefoneI">Contato:</label>
        <input  formControlName="contato" type="tel" name="telefoneI" id="telefoneI">
    </div>

    <div class="content">
        <label for="whatsappI">Endereço:</label>
        <input  formControlName="endereco" type="text" name="whatsappI"id="whatsappI"  placeholder="Ex: 12912345678">    
    </div>
    
  
    <div class="btns">
        <button type="submit" class="ok">Adicionar</button>
        <button  (click)="fecharForm()" type="button" class="cancel">Cancelar</button>
    </div>
</form>