<form  (ngSubmit)="enviarDados()" class="box_addclient ">
    <div class="content">
        <label for="nomeI">Nome:</label>
        <input [(ngModel)]="dadosC._nome" type="text" name="nomeI" id="nomeI" placeholder="Ex: Fulano Ciclano" required>
    </div>

    <div class="content">
        <label for="telefoneI">Contato:</label>
        <input  [(ngModel)]="dadosC._contato" type="tel" name="telefoneI" id="telefoneI" required>
    </div>

    <div class="content">
        <label for="whatsappI">Endereço:</label>
        <input  [(ngModel)]="dadosC._endereco" type="text" name="whatsappI"id="whatsappI"  placeholder="Ex: 12 912345678" required>    
    </div>
    
    <div class="content">
        <label for="bikeI">Bike:</label>
        <input  [(ngModel)]="dadosC._bike" type="" name="bikeI" id="bikeI" required>
    </div>
    
  
    <div class="btns">
        <button type="submit" class="ok">Adicionar</button>
        <button  (click)="fecharForm()" type="button" class="cancel">Cancelar</button>
    </div>
</form>